<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Vault.Server" value="twssrc"/>
    <add key="Vault.User" value="max"/>
    <add key="Vault.Password" value="Silver25"/>
    <add key="Vault.Repo" value="Aquantify"/>
    <add key="Git.DomainName" value="thinkwin.com.au"/>
    <add key="Convertor.WorkingFolder" value="c:\dev\Aquantify.git"/>
    <add key="Convertor.GitCmd" value="C:\Program Files (x86)\Git\bin\git.exe"/>
    <add key="Convertor.Paths" value="$/Aquantify~master"/>
  </appSettings>
</configuration>